<div class="container large-8"> 
  <div class="row">
    <div class="container small-8 large-8">
			<%= form_tag('/teams/manage', :id=>'manage_team') do %>
				<h3>Edit <%= @teamType %> Account</h3>
				<% if (!@authInfo.nil?) %>
					<img src="/images/refresh.png" width="10" height="10" alt="Refresh Icon">
					<a class="LeftNavLink" href="javascript:reload_team()">Reload Teams</a>
				<% end %>

				<% if (@authInfo.nil?) %>
					<%= label_tag('userid', 'User Name') %>
					<%= text_field_tag('userid', '', options = {:size => 12}) %>
					<%= hidden_field_tag('current_user') %>
				<% else %>
					<%= label_tag('userid', 'User Name') %>
					<%= text_field_tag('userid', @authInfo.login, options = {:size => 12}) %> 
					<%= hidden_field_tag('current_user', @authInfo.login) %>
				<%-end-%>

				<% if (@authInfo.nil?) %>
			    <%= label_tag(:pass, "Password:") %>
					<%= password_field_tag(:pass,'',options ={:size => 12}) %> 
				<% else %>
			    <%= label_tag(:pass, "Password:") %>
					<%= password_field_tag(:pass,'', options = {:size => 12}) %>
				<% end %>

				<BUTTON type="button" id='team_manage_submit' onclick="submit_team()"><%= (@authInfo.nil?) ? 'Submit':"Update ID" %></BUTTON>

				<%= hidden_field_tag('teamType', @teamType) %>
				<%= hidden_field_tag('manageAction') %>

			<% end %>
		</div>
	</div>
</div>