<%= content_for :body_attributes %>


<div class="container-fluid">
  <div class="row-fluid">
    <div class="container">
    	<div class="span12 clearfix bottompad2">
				<img class="left alignto-h1" src="/images/baseball.png" alt="Baseball" height="50" width="50">
	      <div class="left">
	      	<h1 class="left">Baseball Dashboard</h1>
					<div id="updating" style="display:<%if (!@update)%>none<%end%>">
						Refreshing All Teams 
						<%= image_tag '/images/refresh-animated.gif' %>
					</div>
				</div>
			</div>
			<% if (@demo) %>
				<div class="clearfix bottompad1">
					<div class="span12 bottompad1">
			  		<h3>Get Started Managing Your Teams</h3>
			  	</div>
		  		<ul id="b_<%=@demo_team._id%>" class="span3 dashboard-team">
						<h4><a href="/teams/showbatters?id=<%=@demo_team._id%>">Demo Team</a></h4>
						<p>RotoStarter Demo League</p>
						<%if (@demo_team.daily_auto_batter)%>
							<li>
									<img src="/images/RS_Green_Button10.png" alt="Green Button">
									<a class="active" href="/teams/showbatters?id=<%=@demo_team._id%>">Set Batters</a>
									<span id="br_<%=@demo_team._id%>">
										<a href="javascript:setup('<%=@demo_team._id%>',false,'b')">[Deactivate]</a>
									</span>
							</li>
						<%else%>
							<li>
									<img src="/images/RS_Red_Button10.png" alt="Red Button">
									<a class="inactive" href="/teams/showbatters?id=<%=@demo_team._id%>">Set Batters</a>
									<span id="br_<%=@demo_team._id%>">
										<a href="javascript:setup('<%=@demo_team._id%>',true,'b')">[Activate]</a>
									</span>
							</li>	
						<%end%>

						<%if (@demo_team.daily_auto_pitcher)%>
							<li>
								<img src="/images/RS_Green_Button10.png" alt="Green Button">
								<a class="active" href="/teams/showpitchers?id=<%=@demo_team._id%>">Set Pitchers</a>
								<span id="pr_<%=@demo_team._id%>">
									<a href="javascript:setup('<%=@demo_team._id%>',false,'p')">[Deactivate]</a>
								</span>
							</li>
						<%else%>
							<li>
								<img src="/images/RS_Red_Button10.png" alt="Red Button">
								<a class="inactive" href="/teams/showpitchers?id=<%=@demo_team._id%>">Set Pitchers</a>
								<span id="pr_<%=@demo_team._id%>">
									<a href="javascript:setup('<%=@demo_team._id%>',true,'p')">[Activate]</a>
								</span>
							</li>
						<%end%>

						<%if (@demo_team.real_time_batter)%>
							<li>
								<img src="/images/RS_Green_Button10.png" alt="Green Button">
								<span class="active">Real Time On </span>
								<span id="rr_<%=@demo_team._id%>">
									<a href="javascript:setup('<%=@demo_team._id%>',false,'r')">[Deactivate]</a>
								</span>
							</li>
						<%else%>
							<li>
								<img src="/images/RS_Red_Button10.png" alt="Red Button">
								<span class="inactive">Real Time Off</span>
								<span id="rr_<%=@demo_team._id%>">
									<a href="javascript:setup('<%=@demo_team._id%>',true,'r')">[Activate]</a>
								</span>
							</li>
						<%end%>
					</ul>
					<a href="#">
			  		<ul class="span3 dashboard-team">
							<p style="overflow:visible;font-size:50px; text-align:center;  font-weight:bold;">+</p>
							<h4 style="text-align:center">Add Yahoo Teams<h4>
		  			</ul>
	  			</a>
					<a href="#">
			  		<ul class="span3 dashboard-team">
							<p style="overflow:visible;font-size:50px; text-align:center;  font-weight:bold;">+</p>
							<h4 style="text-align:center">Add ESPN Teams<h4>
		  			</ul>
	  			</a>
				</div>	
	  	<% end %>

			<% if (@yahoo_teams.length > 0) %>
				<div class="clearfix bottompad1">
					<div class="span12 bottompad1">
							<h3 class="left">Yahoo Teams</h3>
							<% if (@yahoo_teams.length == 0) %>
								<span class="left alignto-h3">
									<img src="/images/RSPlus10.png" alt="Add Icon">
									<a href="javascript:teamWindow('YAHOO')">Add Account</a>
								</span>
							<%else%>
								<span class="left alignto-h3">
									<img src="/images/refresh.png" width="10" height="10" alt="Refresh Icon">
									<a href="javascript:updateTeams('yahoo')">Refresh</a>
								</span>
								<span class="left alignto-h3">
									<img src="/images/editIcon.gif" alt="Edit Icon">
									<a href="javascript:teamWindow('YAHOO')">Edit</a>
								</span>
							<%end%>
					</div>
					<% @yahoo_teams.each do |team| %>
			  		<ul class="span4 dashboard-team">
							<h4><a href="/teams/showbatters?id=<%=team._id%>"><%=team.team_name%></a></h4>
							<p><%=team.league_name%></p>
							<% if (team.daily_auto_batter) %>
								<li id="b_<%= team._id %>_active">
							<% else %>
								<li id="b_<%= team._id %>_active" style="display:none;">
							<% end %>
									<img src="/images/RS_Green_Button10.png" alt="Green Button">
									<a class="active" href="/teams/showbatters?id=<%= team._id %>">Set Batters</a>
									<span id="br_<%= team._id %>">
										<a href="javascript:setup('<%= team._id %>',false,'b')">[Deactivate]</a>
									</span>
							</li>
							<% if (team.daily_auto_batter) %>
								<li id="b_<%= team._id %>_inactive" style="display:none;">
							<% else %>
								<li id="b_<%= team._id %>_inactive">
							<% end %>
									<img src="/images/RS_Red_Button10.png" alt="Red Button">
									<a class="inactive" href="/teams/showbatters?id=<%= team._id %>">Set Batters</a>
									<% if (team.weekly_team) %>
										<span class="inactive">Weekly Lineup</span>
									<% else %>
										<span id="br_<%= team._id %>">
											<a href="javascript:setup('<%= team._id %>',true,'b')">[Activate]</a>
										</span>
									<% end %>
							</li>	

							<% if (team.daily_auto_pitcher) %>
								<li id="p_<%= team._id %>_active">
							<% else %>
								<li id="p_<%= team._id %>_active" style="display:none;">
							<% end %>
								<img src="/images/RS_Green_Button10.png" alt="Green Button">
								<a class="active" href="/teams/showpitchers?id=<%= team._id %>">Set Pitchers</a>
								<span id="pr_<%= team._id %>">
									<a href="javascript:setup('<%= team._id %>',false,'p')">[Deactivate]</a>
								</span>
							</li>

							<% if (team.daily_auto_pitcher) %>
								<li id="p_<%= team._id %>_inactive" style="display:none;">
							<% else %>
								<li id="p_<%= team._id %>_inactive">
							<% end %>
								<img src="/images/RS_Red_Button10.png" alt="Red Button">
								<a class="inactive" href="/teams/showpitchers?id=<%= team._id %>">Set Pitchers</a>
								<% if (team.weekly_team) %>
									<span class="inactive">Weekly Lineup</span>
								<% else %>
									<span id="pr_<%= team._id %>">
										<a href="javascript:setup('<%= team._id %>',true,'p')">[Activate]</a>
									</span>
								<% end %>
							</li>

							<% if (team.real_time_batter) && !(team.weekly_team) %>
								<li id="r_<%= team._id %>_active">
							<% else %>
								<li id="r_<%= team._id %>_active" style="display:none;">
							<% end %>
								<img src="/images/RS_Green_Button10.png" alt="Green Button">
								<span class="active">Real Time On </span>
								<span id="rr_<%= team._id %>">
									<a href="javascript:setup('<%= team._id %>',false,'r')">[Deactivate]</a>
								</span>
							</li>

							<% if (team.real_time_batter) && !(team.weekly_team) %>
								<li id="r_<%= team._id %>_inactive" style="display:none;">
							<% else %>
								<li id="r_<%= team._id %>_inactive">
							<% end %>
								<img src="/images/RS_Red_Button10.png" alt="Red Button">
								<span class="inactive">Real Time Off</span>
								<span id="rr_<%= team._id %>">
									<a href="javascript:setup('<%= team._id %>',true,'r')">[Activate]</a>
								</span>
							</li>

						</ul>
					<% end %>
				</div>
			<% end %>

			<% if (@espn_teams.length > 0) %>
				<div class="clearfix bottompad1">
					<div class="span12 bottompad1">
						<h3 class="left">ESPN Teams</h3>
						<% if (@espn_teams.length == 0) %>
							<span class="left alignto-h3">
								<img src="/images/RSPlus10.png" alt="Add Icon">
								<a href="javascript:teamWindow('ESPN')">Add Account</a>
							</span>
						<%else%>
							<span class="left alignto-h3">
								<img src="/images/refresh.png" width="10" height="10" alt="Refresh Icon">
								<a href="javascript:updateTeams('espn')">Refresh</a>
							</span>
							<span class="left alignto-h3">
								<img src="/images/editIcon.gif" alt="Edit Icon">
								<a href="javascript:teamWindow('ESPN')">Edit</a>
							</span>
						<%end%>
					</div>
					<% @espn_teams.each do |team| %>
			  		<ul id="b_<%= team._id %>" class="dashboard-team">
							<h4><a href="/teams/showbatters?id=<%=team._id%>"><%=team.team_name%></a></h4>
							<p><%=team.league_name%></p>
							<%if (team.daily_auto_batter)%>
								<li id="b_<%= team._id %>">
										<img src="/images/RS_Green_Button10.png" alt="Green Button">
										<a class="active" href="/teams/showbatters?id=<%= team._id %>">Set Batters</a>
										<span id="br_<%= team._id %>">
											<a href="javascript:setup('<%= team._id %>',false,'b')">[Deactivate]</a>
										</span>
								</li>
							<%else%>
								<li id="b_<%= team._id %>">
										<img src="/images/RS_Red_Button10.png" alt="Red Button">
										<a class="inactive" href="/teams/showbatters?id=<%= team._id %>">Set Batters</a>
										<% if (team.weekly_team) %>
											<span class="inactive">Weekly Lineup</span>
										<% else %>
											<span id="br_<%= team._id %>">
												<a href="javascript:setup('<%= team._id %>',true,'b')">[Activate]</a>
											</span>
										<% end %>
								</li>	
							<%end%>

							<%if (team.daily_auto_pitcher)%>
								<li id="p_<%= team._id %>">
									<img src="/images/RS_Green_Button10.png" alt="Green Button">
									<a class="active" href="/teams/showpitchers?id=<%= team._id %>">Set Pitchers</a>
									<span id="pr_<%= team._id %>">
										<a href="javascript:setup('<%= team._id %>',false,'p')">[Deactivate]</a>
									</span>
								</li>
							<%else%>
								<li id="p_<%=team._id%>">
									<img src="/images/RS_Red_Button10.png" alt="Red Button">
									<a class="inactive" href="/teams/showpitchers?id=<%= team._id %>">Set Pitchers</a>
									<% if (team.weekly_team) %>
										<span class="inactive">Weekly Lineup</span>
									<% else %>
										<span id="pr_<%= team._id %>">
											<a href="javascript:setup('<%= team._id %>',true,'p')">[Activate]</a>
										</span>
									<% end %>
								</li>
							<%end%>

							<%if (team.real_time_batter) && !(team.weekly_team) %>
								<li id="r_<%=team._id%>">
									<img src="/images/RS_Green_Button10.png" alt="Green Button">
									<span class="active">Real Time On </span>
									<span id="rr_<%= team._id %>">
										<a href="javascript:setup('<%= team._id %>',false,'r')">[Deactivate]</a>
									</span>
								</li>
							<%else%>
								<li id="r_<%=team._id%>">
									<img src="/images/RS_Red_Button10.png" alt="Red Button">
									<span class="inactive">Real Time Off</span>
									<span id="rr_<%= team._id %>">
										<a href="javascript:setup('<%= team._id %>',true,'r')">[Activate]</a>
									</span>
								</li>
							<%end%>
						</ul>
					<% end %>
			<% end %>

			<div class="span8	 clearfix bottompad">
		    <div class="alert clearfix">
				  <button type="button" class="close" data-dismiss="alert">&times;</button>
					<p><strong>Problems?</strong></p>
					<p>If you are having issues adding and authenticating your Yahoo or ESPN ID, please open your browser, logout of all Yahoo or ESPN sessions, and log back in. </p>
					<p>Afterwards, try adding your account again.</p>
					<p>If you are still having trouble, please contact us at <a href="mailto:support@rotostarter.com">support@rotostarter.com</a>.</p>
				</div>
			</div>
		</div>

  </div>
</div>


<SCRIPT>


function show_active_inactive(teamid, setbool, type) {
	if (setbool) {
		$('#'+type+'_'+teamid+'_active').fadeIn();
		$('#'+type+'_'+teamid+'_inactive').hide();						
	} else {
		$('#'+type+'_'+teamid+'_active').hide();
		$('#'+type+'_'+teamid+'_inactive').fadeIn();						
	}
}

function setup(teamid, setbool, type) {	
	$.ajax({
        type: 'GET',
        dataType: "html",
        data: 'teamid='+escape(teamid)+'&setvalue='+escape(setbool)+'&playertype='+escape(type),
        cache: false,
        async: true, 
        url: '/teams/setup',
        success: show_active_inactive(teamid, setbool, type),
        error: function (request, status, error) {
        	console.log(request.responseText)
					$(type+'r_'+teamid).innerHTML = old_inner_html;
        },
        complete: function () {
			
        }
    });
}


$(document).ready(function() {
	updateTeams('all');

})

function teamWindow(type) {
Dialog.alert({url: "/teams/manage?teamType="+type, options: {method: 'get'}}, 
            { title:"Manage "+type+" Teams",className:"bluelighting", width:400, okLabel: "Close"});
            
}

function reload_team(){
	
	var number_espn_teams = <%=@espn_teams.length%>;
	var number_yahoo_teams = <%=@yahoo_teams.length%>;
		
	if ($('teamType').value=='ESPN' && number_espn_teams != 0) {
		if (!confirm('Are you sure you want to reload all teams?  You will lose all player roster settings if you continue.')) return;	
	}
	if ($('teamType').value=='YAHOO' && number_yahoo_teams != 0) {
		if (!confirm('Are you sure you want to reload all teams?  You will lose all player roster settings if you continue.')) return;	
	}
	
	
	$('manageAction').value = "R";
	$('manage_team').request({
	    onSuccess: successFunc,
  		onFailure:  failureFunc
	});
	$('team_popup').style.textAlign = "center";
	$('team_popup').innerHTML = "<H3>Loading Team Information <IMAGE SRC=\"/images/refresh-animated.gif\"></H3>"

}

function submit_team(){
	
	
	if (($('current_user').value != '')&&($('current_user').value != $('userid').value)){
		if (!confirm('Are you sure you want to change user id?  You will lose all player roster settings and reload new teams if you continue.')) return;
	}
	
	//Check User ID and Password Fields
	$('userid').disabled = false;
	if (($('userid').value == '') || ($('pass').value == '')){
		alert('User ID Field and/or Password Field can not be empty!')
		return;
	}
	
	$('manageAction').value = "U";
	$('manage_team').request({
	    onSuccess: successFunc,
  		onFailure:  failureFunc
	});
	$('team_popup').style.textAlign = "center";
	$('team_popup').innerHTML = "<H3>Loading Team Information <IMAGE SRC=\"/images/refresh-animated.gif\"></H3>"

}


function successFunc(response){
	
	if (response.responseText == 'true') window.location = "/teams";
	else {
	    var container = $('team_popup');    
    	container.update('Could not load team information.  Check ID / Password and try again.');
		}
    
}

function failureFunc(response){

    var container = $('team_popup');
    
    container.update('Error while loading information.  Please try again later.');
    
}

function activateUserField(){
	$('userid').disabled = false;
}

function activatePassField(){
	$('pass').disabled = false;
}
  
function updateTeams(mode) {
	$('updating').style.display = "";
	
	if (mode!='all') {
		$('updating').innerHTML = "Refreshing "+mode.toUpperCase()+" Teams <IMAGE SRC=\"/images/refresh-animated.gif\">"
	}

	$j.ajax({
        type: 'GET',
        dataType: "html",
        data: 'mode='+escape(mode),
        cache: false,
        async: true, 
        url: '/teams/update_all',
        success: function(html) {
			
            $j("#updating").html(html);
            //new Popup('popup_gamelog','popup_link_gamelog',{position:'center',trigger:'click'})
			//$('popup_gamelog').popup.show();
        },
        error: function () {
			$('updating').innerHTML = "Error Refreshing!";
        },
        complete: function () {
			
        }
    });
}
</SCRIPT>
