<div id="changepassword-modal" class="reveal-modal wrapper-modal" style="display: none;">
  <div class="container large-9"> 
    <div class="row">
      <div class="container small-8 large-5">
        <h1 class="no-margin">Forgot Password</h1>
        <h6 class="subheader margin-bottom-2">To reset your password, enter your email address below.&nbsp;&nbsp;A new password will be sent to you by email.</h6>
        <%if (@show)%>
          <%= form_tag do %>
            <%= label_tag(:email, "E-mail:") %>
            <%= text_field_tag(:email) %> 
            <%= submit_tag("Submit", :class=>"button small") %>
            <BR>
              
            <% flash.each do |name, msg| %>
              <%= content_tag :span, msg, :id => "flash_#{name}", :class=>"flash_message" %>
            <% end %>
          <% end %>  
        <%else%>
          <p>Your password recovery email is on its way!</p>
          <p>An email containing your temporary password has been sent. If you do not receive an email within 10 minutes, check your spam folder.</p>
        <%end%>
      </div>
    </div>
  </div>
</div>