    <div id="signup-modal" class="reveal-modal wrapper-modal" style="display: none;">
      <div class="container large-9"> 
          <%= render :partial => 'user/flashmessage' %>

          <h3>RotoStarter Sign Up</h3>
            <%= form_tag '/user/signup' do %>
              <div style="margin:0;padding:0;display:inline">
                <input name="utf8" type="hidden" value="&#x2713;"/>
                <input name="authenticity_token" type="hidden" value="j7+BQAJL4+O/vxqArSm4BmwFpvMhjGmR4vBRLrcxkc4="/>
              </div>
              <%= label_tag(:email, "Email:") %>
              <%= text_field_tag(:email) %>
              <%= label_tag(:pass, "Password:") %>
              <%= password_field_tag(:pass) %>
              <%= label_tag(:repass, "Confirm Password:") %>
              <%= password_field_tag(:repass) %>
              <br><br>
              <input name="commit" type="submit" class="button" value="Sign Up"/>
              <br>
              <p class="txt-tiny">I agree to the <a href="/static/terms">Terms of Service</a> and <a href="/static/privacy">Privacy Policy</a>
              </p>
            <% end %>
      </div>
      <a class="close-reveal-modal">×</a>
    </div>