
<h3 class="HomeSignUp" >

<%= form_tag do %>
  <b>Change Password - <%=@user.email%></b><BR><BR>
  <%= label_tag(:pass, "Original Password:") %>
  <%= password_field_tag(:oldpass) %>	
  <BR>	
  <%= label_tag(:pass, "New Password:") %>
  <%= password_field_tag(:pass) %>
  <BR>
  <%= label_tag(:repass, "Confirm Password:") %>
  <%= password_field_tag(:repass) %>
  <BR>
  <%= submit_tag("Submit") %>
  <BR>
  	
  <span class="flash_message"><%= @user.errors.full_messages.first if @user.errors.any? %></span>
  <% flash.each do |name, msg| %>
	        <%= content_tag :span, msg, :id => "flash_#{name}", :class=>"flash_message" %>
	      <% end %>
<% end %>

</h3>


