<%= @user.errors.full_messages.first if @user.errors.any? %>


<%= form_tag do %>
  <h3>Change password for User - <%=@user.email%></h3>
  <%= label_tag(:pass, "Password:") %>
  <%= password_field_tag(:pass) %>
  <BR>
  <%= label_tag(:repass, "Confirm Password:") %>
  <%= password_field_tag(:repass) %>
  <BR>
  <%= submit_tag("Submit") %>
  <BR>
  
<% end %>


