
<h3 class="HomeSignUp" style="text-align: left">
<%if (@show)%>
<%= form_tag do %>
  <b>Forgot Password</b><BR>
  <span class="DashActiveBrown">We will send you a email with a temporary password</span>
  <BR><BR>
  <%= label_tag(:email, "E-mail:") %>
  <%= text_field_tag(:email) %>	
  <%= submit_tag("Submit") %>	
 <BR>
  <% flash.each do |name, msg| %>
	        <%= content_tag :span, msg, :id => "flash_#{name}", :class=>"flash_message" %>
	      <% end %>
<% end %>

<%else%>
Your password recovery email is on its way!
<ul><li>An email containing your temporary password has been sent.</li>
	<li>If you do not receive an email within 10 minutes, check your spam folder first.</li>
</ul>
<%end%>

</h3>


