  
 <h3 class="HomeSignUp" >
<%= form_tag do %>


  <b>RotoStarter Login</b><BR><BR>
  <%= label_tag(:email, "Email:") %>
  <%= text_field_tag(:email) %>
  <BR>
  <%= label_tag(:pass, "Password:") %>
  <%= password_field_tag(:pass) %>
  <BR><BR>
<input name="commit" src="/images/RSLogin.png" type="image" value="Login"/>
<BR>

  <% flash.each do |name, msg| %>
	        <%= content_tag :span, msg, :id => "flash_#{name}", :class=>"flash_message" %>
	      <% end %>
<% end %>
</h3>
