<div class="container large-8"> 

    <div class="row">
      <h3 class="container small-8 large-5" >RotoStarter Login</h3>

      <div class="container small-8 large-5">
        <%= form_tag do %>
          <%= label_tag(:email, "Email:") %>
          <%= text_field_tag(:email) %>
          <%= label_tag(:pass, "Password:") %>
          <%= password_field_tag(:pass) %>
          <br>
          <input name="commit" src="/images/RSLogIn.png" type="image" value="Login"/>
          <br>
          <br>
          <h6 class="subheader">
            <%= link_to 'Forgot Your Password?', :action => 'forgot_password' %>
          </h6>
          <% flash.each do |name, msg| %>
            <%= content_tag :span, msg, :id => "flash_#{name}", :class=>"flash_message" %>
          <% end %>
        <% end %>
      </div>
    </div>
</div>