
<%= form_tag do %>
  <h3>Roto Starter Login</h3>
  <%= label_tag(:email, "Email:") %>
  <%= text_field_tag(:email) %><BR>
  <%= label_tag(:pass, "Password:") %>
  <%= password_field_tag(:pass) %>
  <BR>
  <%= submit_tag("Submit") %>
 
<% end %>
