<div class="contain-to-grid sticky">
  <nav class="top-bar">
    <ul class="title-area">
      <!-- Title Area -->
      <li class="divider"></li>
      <li class="name">
        <h1><a href="/"><img src="/images/RotoStarterLogoBlue200.png" style="width: 100px; padding-top: 7px" alt="Roto Starter Logo"></a></h1>
      </li>
      <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Left Nav Section -->
      <ul class="left">
        <li class="divider"></li>
        <li class="has-dropdown">
          <%= link_to "Baseball", :controller => "teams", :action => "index" %>

          <ul class="dropdown">
            <li><label>Manage</label></li>
            <li><%= link_to "Baseball Dashboard", :controller => "teams", :action => "index" %></li>
            <li class="divider"></li>
            <li><label>Help</label></li>
            <li><%= link_to "How Does It Work?", :controller => "static", :action => "howitworks" %></li>
            <li><%= link_to "Recommended Settings", :controller => "static", :action => "recsettings" %></li>
            <li class="divider"></li>
          </ul>
        </li>
        <li class="divider"></li>
        <li><%= link_to "Football", :controller => "football_teams", :action => "index" %></li>
        <li class="divider"></li>
      </ul>

      <!-- Right Nav Section -->
      <ul class="right">
        <li class="divider"></li>

        <% if (session[:user].nil?) %>
          <li><%= link_to 'Log In', :controller => "user",:action => 'login' %></li> 
        <% else %>
          <li class="has-dropdown"> 
            <a href="#"><%= session[:user] %></a>

            <ul class="dropdown">
              <li><label>Your Account</label></li>
              <li><%= link_to "Change Password", :controller => "user", :action => "change_password" %></li>
              <li><%= link_to "Log Out", :controller => "user", :action => "logout"  %></li>
            </ul> 
          </li>
        <% end %>
        <li class="divider"></li>
      </ul>
    </section>
  </nav>
</div>
