<!DOCTYPE html>
<html>
  <head>
    <title>RotoStarter</title>


    <%= stylesheet_link_tag '/stylesheets/style' %>
    <script src="/javascripts/prototype.js" type="text/javascript"></script>
    <script src="/javascripts/window.js" type="text/javascript"></script>
    <script src="/javascripts/jquery.js" type="text/javascript"></script>
    <script src="/javascripts/jquery_ujs.js" type="text/javascript"></script>
     <script>
     var $j = jQuery.noConflict();
     </script>
    
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body <%= content_for?(:body_attributes) ? yield(:body_attributes) : "" %>>
	<div id="RSWrapper">
		<div id="RSHeader" style="float:left; margin:0;">
			<table cellpadding="0" cellspacing="0" border="0">
			<tr>
			<td>
			&nbsp;
			<img src="/images/RotoStarterLogoBlue200.png" alt="RotoStarter Logo">
			</td>
			<td>
			<div class="HeaderTitle">RotoStarter
			<font color="#5A4A42"> [roh-toh stahr-ter]</font>
			noun</div>
			<div class="HeaderTitleBrown">Free service that automatically starts your fantasy baseball players for you every morning</div>
			</td>
			</tr>
			</table>
		</div>
		<div id="RSNav" style="float:left; margin:0;">
			<div class="NavHeadLeft">
			&nbsp; &nbsp;
			<%-if (session[:user].nil?)-%>
			<%= link_to "Home", "/" %> |
	      	<%= link_to 'Login', :action => 'login' %>
	      	| <u>How Does It Work?</u>
	      	<%-else-%>
	      	<%= link_to "Home", :controller => "teams", :action => "index" %> |
			<u>How Does It Work?</u> |
			<u><%=session[:user]%></u> |
			<%= link_to "Logout", :controller => "user", :action => "logout"  %>
	      	<%-end-%>
	      	
			</div>
		</div>
  	
	    <div id="RSMain" style="float:left; margin:0;width:100%">
	      
	      <BR>
	      <%= yield %>	
	    </div>
	    <div id="RSEdge" style="float:left; margin:0;">
		<br><br>
		</div>
		<div id="RSFooter" style="float:left; margin:0;">
		<div class="NavHeadLeft">
		&nbsp; &nbsp;
		<u>About Us</u> |
		<u>Privacy</u> |
		<u>Terms</u> |
		<u>Contact Us</u>
		</div>
		</div>
		<div id="RSEdge" style="float:left; margin:0;">
		<br>
		</div>
    </div>
  </body>
</html>
