<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag '/stylesheets/style' %>
    <script src="/javascripts/prototype.js" type="text/javascript"></script>
    <script src="/javascripts/window.js" type="text/javascript"></script>
    <script src="/javascripts/jquery.js" type="text/javascript"></script>
    <script src="/javascripts/jquery_ujs.js" type="text/javascript"></script>
     <script>
     var $j = jQuery.noConflict();
     </script>
    
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body <%= content_for?(:body_attributes) ? yield(:body_attributes) : "" %>>
    <div id="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
      <BR>
      	
      	<%-if (session[:user].nil?)-%>
      	<%= link_to 'Login', :action => 'login' %> &nbsp;| &nbsp;
      	<%= link_to 'Register', :action => 'signup' %> &nbsp;| &nbsp;
      	<%-else-%>
      	<%=session[:user]%>  &nbsp;| &nbsp;
      	<%-end-%>
      	<%= link_to "Logout", :controller => "user", :action => "logout" %>
    </div>
    
    
  </body>
</html>
