<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#">
  <head>
    <title>RotoStarter | Dominate Your Fantasy Sports Leagues</title>

 	  <meta property="og:title" content="RotoStarter" />
	  <meta property="og:image" content="http://www.rotostarter.com/images/RotoStarterLogoBlue200.png" /> 
	  <meta property="og:description" content="RotoStarter helps you play Fantasy Sports at a high level with tools to help you dominate your league." /> 
	  <meta property="og:url" content="http://www.rotostarter.com">
	  <meta property="og:type" content="website">
    <meta property="twitter:cards" content="summary">
    <meta property="twitter:url" content="http://www.rotostarter.com">
    <meta property="twitter:title" content="RotoStarter">
	  <meta property="fb:admins" content="731131388" />
	  <meta name="keywords" content="Fantasy,Football,Baseball,Basketball,Automate,Lineup,Auto,Start,Automatically,Set,Bench" />
	  <meta name="description" content="RotoStarter helps you play Fantasy Sports at a high level with tools to help you dominate your league." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
      
  	<script type="text/javascript">
  	  var _gaq = _gaq || [];
  	  _gaq.push(['_setAccount', 'UA-30965893-1']);
  	  _gaq.push(['_trackPageview']);
  	
  	  (function() {
  	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  	  })();
  	</script>
  </head>

  <body <%= content_for?(:body_attributes) ? yield(:body_attributes) : "" %>>
  	<div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
  	
    <header class="navbar navbar-fixed-top" style="height:60px">
      <%= render 'layouts/navigation' %>
    </header>

    <div class="wrapper">
      <%= yield %>
    </div>
    
    <footer class="navbar-inverse navbar-fixed-bottom">
      <div class="navbar">
        <div class="navbar-inner">
          <div class="container">
            <ul class="nav">
              <li><p class="navbar-text">RotoStarter ©2013&nbsp;&nbsp;|&nbsp;&nbsp;All Rights Reserved</p></li>
            </ul>
            <ul class="nav pull-right">
              <li><%= link_to "Terms", :controller => "static", :action => "terms" %></li>
              <li><%= link_to "Privacy", :controller => "static", :action => "privacy" %></li>
              <li><%= link_to "Contact Us", :controller => "static", :action => "contact" %></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

  </body>
</html>
